@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
:root {
    --kotlin: #5533ff;
    --my-black: #111;
    --dark-grey: #303030;
    --lred: #FFCCCC;
    --lorange: #FFE5CC;
    --lyellow: #FFE5CC;
    --llime: #E5FFCC;
    --lgreen: #CCFFCC;
    --lcyan: #CCFFE5;
    --lblue: #CCE5FF;
    --lindigo: #CCCCFF;
    --lpurple: #E5CCFF;
    --lpink: #FFCCFF;
    --lgrey: #E0E0E0;
    --dred: #301010;
    --dorange: #301510;
    --dyellow: #302010;
    --dlime: #203010;
    --dgreen: #103010;
    --dcyan: #103020;
    --dblue: #102030;
    --dindigo: #101030;
    --dpurple: #201030;
    --dpink: #301030;
    --dgrey: #202020;
    --scrollbar-track: #ddd;
    --scrollbar-thumb: #888;
    --scrollbar-thumb-hover: #555;
}

* {
    font-family: "Quicksand", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/*Background colors*/

/* .bg-red {background-color: var(--lred);}
.bg-orange {background-color: var(--lorange);}
.bg-yellow {background-color: var(--lyellow);}
.bg-lime {background-color: var(--llime);}
.bg-green {background-color: var(--lgreen);}
.bg-cyan {background-color: var(--lcyan);}
.bg-blue {background-color: var(--lblue);}
.bg-indigo {background-color: var(--lindigo);}
.bg-purple {background-color: var(--lpurple);}
.bg-pink {background-color: var(--lpink);}
.bg-grey {background-color: var(--lgrey);} */

/*global level style*/

html {
    background-color: var(--dark-grey);
    color: var(--lgrey);
    overflow-x: hidden;
    box-shadow: inset 0px 0px 100px var(--my-black);
    height: 100%;
}

body {
    height: 100%;
}

nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}

nav a {
    text-decoration: none;
    color: var(--lgreen);
}

#logo {
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

button {
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: var(--lgreen);
    color: var(--my-black);
    font-weight: bold;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#asociacioni {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
}

#kolonat {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    flex: 5;
}

#perfundimtarja {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    flex: 1;
    border-radius: 10px;
    border-top-left-radius: 0;
    background-color: var(--lgreen);
}

.kolona {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#a {
    grid-column: 1/2;
}

#b {
    grid-column: 2/3;
}

#c {
    grid-column: 3/4;
}

#d {
    grid-column: 4/5;
}

.fjalet {
    flex: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.zgjidhja {
    width: 100%;
    flex: 1;
    border-radius: 10px;
    border-top-left-radius: 0;
    padding: 0;
    display: flex;
    background-color: var(--lindigo);
}

.fjala {
    width: 100%;
    flex: 1;
    border-radius: 10px;
    border-top-left-radius: 0;
    background-color: var(--lgreen);
    overflow: hidden;
    position: relative;
    border: 1px solid var(--lgreen);
    cursor: pointer;
}

.fjala+.fjala {
    margin-top: 5px;
}

.fjala .teksti {
    color: var(--my-black);
    font-family: Quicksand, sans-serif;
    font-weight: bold;
}

.fjala .mbuloja {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-grey);
    left: 0;
}

.fjala:hover .mbuloja {
    left: 10px;
}

.zgjidhja input[type=text], #perfundimtarja input[type=text] {
    outline: none;
    flex: 6;
    height: 100%;
    background: transparent;
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.zgjidhja button {
    flex: 1;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--lindigo);
    height: 100%;
}

.zgjidhja button:hover {
    background-color: rgba(115, 80, 135, 0.5);
}

#perfundimtarja button {
    flex: 1;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--lgreen);
    height: 100%;
}

#perfundimtarja button:hover {
    background-color: rgba(98, 173, 114, 0.562);
}

.mbuloja:nth-of-type(even) {
    transition: left 0.5s ease-in-out;
    transition-delay: 0.25s;
}

.mbuloja:nth-of-type(odd) {
    transition: left 0.5s ease-in-out;
}

.out-of-bounds {
    left: 100% !important;
}