@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
:root {
    --kotlin: #5533ff;
    --my-black: #111;
    --dark-grey: #303030;
    --lred: #FFCCCC;
    --lorange: #FFE5CC;
    --lyellow: #FFE5CC;
    --llime: #E5FFCC;
    --lgreen: #CCFFCC;
    --lcyan: #CCFFE5;
    --lblue: #CCE5FF;
    --lindigo: #CCCCFF;
    --lpurple: #E5CCFF;
    --lpink: #FFCCFF;
    --lgrey: #E0E0E0;
    --dred: #301010;
    --dorange: #301510;
    --dyellow: #302010;
    --dlime: #203010;
    --dgreen: #103010;
    --dcyan: #103020;
    --dblue: #102030;
    --dindigo: #101030;
    --dpurple: #201030;
    --dpink: #301030;
    --dgrey: #202020;
    --scrollbar-track: #ddd;
    --scrollbar-thumb: #888;
    --scrollbar-thumb-hover: #555;
}
*{
    font-family: Quicksand;
}

/*Background colors*/

.bg-red {
    background-color: var(--lred);
}

.bg-orange {
    background-color: var(--lorange);
}

.bg-yellow {
    background-color: var(--lyellow);
}

.bg-lime {
    background-color: var(--llime);
}

.bg-green {
    background-color: var(--lgreen);
}

.bg-cyan {
    background-color: var(--lcyan);
}

.bg-blue {
    background-color: var(--lblue);
}

.bg-indigo {
    background-color: var(--lindigo);
}

.bg-purple {
    background-color: var(--lpurple);
}

.bg-pink {
    background-color: var(--lpink);
}

.bg-grey {
    background-color: var(--lgrey);
}

/*global level style*/

html {
    background-color: var(--dark-grey);
    font-family: 'Quicksand', sans-serif;
    color: var(--lgrey);
    padding: 0px;
    overflow-x: hidden;
    box-shadow: inset 0px 0px 100px var(--my-black);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#about {
    background-color: var(--dark-grey);
    box-shadow: inset 0px 0px 100px var(--my-black);
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0px;
}

.nav-bar-logo {
    flex: 1;
    margin-left: 20px;
    margin-top: 20px;
    align-self: flex-start;
}

.nav-bar-logo a {
    text-decoration: none;
    color: var(--lblue);
    font-weight: bold;
}

.nav-bar-logo a:visited {
    text-decoration: none;
    color: var(--lblue);
}

.nav-bar-links {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-bar-links ul {
    list-style-type: none;
}

.nav-bar-links ul li {
    padding: 5px;
}

.nav-bar-links ul li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: var(--lblue);
    padding: 5px;
    border-radius: 5px;
}

.notes-main {
    width: 100%;
}

.main-projects-container, .main-notes-container {
    width: 80%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#hamburger {
    margin: 20px;
    transition: all 0.2s ease;
}

.welcoming-message .word {
    transition: all 0.2s ease-in;
}

/* For Mobile */

@media screen and (max-width: 400px) {
    .nav-bar-links ul li {
        display: block;
    }
    .nav-bar-links ul li a {
        background-color: var(--lblue);
        color: var(--my-black);
    }
    #hamburger {
        display: block;
    }
    .invisible {
        display: none;
    }
    .fade50 {
        opacity: 0.5;
    }
    .welcoming-title {
        font-size: 28px;
    }
    .welcoming-message {
        font-size: 16px;
    }
    .card {
        width: 90%;
    }
    #linqet {
        top: 50px;
    }
}

/* For Tablets */

@media screen and (min-width: 400px) and (max-width: 680px) {
    .nav-bar-links ul li {
        display: block;
    }
    .nav-bar-links ul li a {
        background-color: var(--lblue);
        color: var(--my-black);
    }
    #hamburger {
        display: block;
    }
    .invisible {
        display: none;
    }
    .fade50 {
        opacity: 0.5;
    }
    .welcoming-title {
        font-size: 40px;
    }
    .welcoming-message {
        font-size: 28px;
    }
    .main-projects-container {
        width: 90%;
    }
    .card {
        width: 90%;
    }
    #linqet {
        top: 50px;
    }
}

/* For pc */

@media screen and (min-width: 680px) {
    .nav-bar-links ul li {
        display: inline;
    }
    #hamburger {
        display: none;
    }
    .welcoming-title {
        font-size: 52px;
    }
    .welcoming-message {
        font-size: 40px;
    }
}

#menu {
    cursor: pointer;
    width: 32px;
}

#linqet {
    margin-right: 20px;
    align-items: flex-start;
    text-align: right;
    position: absolute;
    z-index: 3;
    transition: all 0.2s ease;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
